### VSCode ###
/.vscode/

### Builds ###
/build/
/build-*/
/bin/
/release/

### Output ###
/*.o/
/*.bin/
/*.iso/
/.DS_Store/

### Limine ###
/arch/x86_64/limine

### Flanterm
/kernel/include/backends/flanterm

### Neovim ###
.cache/
compile_commands.json

### Other ###
COM*
*.*.swp
